/*
Theme Name: Businessx Child
Theme URI: http://www.acosmin.com/theme/businessx/
Template: businessx
Author: Acosmin
Author URI: http://www.acosmin.com/
Description: Businessx is a modern one page WordPress theme with WooCommerce &amp; Polylang support, perfect for any business, agency or blog. With the help of the free Businessx Extensions plugin you will be able to add 14 sections (Slider, Features, About Us, Team, Clients, Portfolio, Actions, Testimonials, Pricing, FAQ, Hero, Blog, Contact, Google Map) to your homepage and position them as you want on page. Download this plugin from: https://wordpress.org/plugins/businessx-extensions/ &amp; Full Demo: http://demo.acosmin.com/themes/businessx/
Tags: custom-header,grid-layout,right-sidebar,sticky-post,translation-ready,threaded-comments,featured-images,custom-menu,theme-options,footer-widgets,portfolio,blog,e-commerce
Version: 1.0.5.6.1535630263
Updated: 2018-08-30 11:57:43
*/

.grid-wrap, .footer-widgets {
  padding-top: 5em;
}

div .fieldset-payment_plan {
  display: none;
}

.job_filters .job_types {
  border: 0px !important;
}

/* .job_filters .job_types li {
  padding: 0.5em 3em;
  border: 0px;
  color: #000;
  cursor: pointer;
} */

.ac-btn {
  box-shadow: none !important;
}

.betaText {
  max-width: 80%;
  margin: 20px auto 100px auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 100px;
  grid-column: span 6;
}

.claremont {
  text-align: center;
}

.claremont a {
  font-weight: bold;
}

/* Reset checkmark */

/* .job_filters .job_types li {
  position: relative;
  z-index: 1;
  background-color: #f9f9f9;
} */

/* .job_filters .job_types li input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} */
/* DU HÖLL PÅ ATT FÖRSÖKA FÅ CHECKMARKS ATT BYTA FÄRG ON CLICK MED ENDBART CSS */

/* .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
  z-index: -1;
} */

/* On mouse-over, add a grey background color */
/* .job_filters .job_types li input:hover ~ .checkmark {
  background-color: red;
} */

/* When the checkbox is checked, add a blue background */
.job_filters .job_types li input:checked ~ .checkmark {
  background-color: #f9f9f9;
}

.job_filters .job_types li:nth-child(1) input:checked {
  /* border: 2px solid #17a349; */
  color: #2fa6de;
}
.job_filters .job_types li:nth-child(2) input:checked {
  /* border: 2px solid #f6e727; */
  color: #2fa6de;
}
.job_filters .job_types li:nth-child(3) input:checked {
  /* border: 2px solid #71b543; */
  color: #2fa6de;
}
.job_filters .job_types li:nth-child(4) input:checked {
  /* border: 2px solid #b94793; */
  color: #2fa6de;
}
.job_filters .job_types li:nth-child(5) input:checked {
  /* border: 2px solid #d91f26; */
  color: #2fa6de;
}
.job_filters .job_types li:nth-child(6) input:checked {
  /* border: 2px solid #45b7b4; */
  color: #2fa6de;
}
.job_filters .job_types li:nth-child(7) input:checked {
  /* border: 2px solid #2fa6de; */
  color: #2fa6de;
}
.job_filters .job_types li:nth-child(8) input:checked {
  /* border: 2px solid #f39f1e; */
  color: #2fa6de;
}

.wpcf7-form-control {
  max-width: 450px !important;
}

/* Foretagssida */

#foretagssidan {
  margin: 60px 0 40px 0;
}

#rubrik {
  margin-left: 90px;
}

#foretagssidan::after {
  content: "";
  clear: both;
  display: table;
}

section.foretagssida {
  width: 80%;
  margin: 0 auto;
}

section.foretagssida {
  display: flex;
  align-items: center;
}

.publicer_annons_container {
  width: 80%;
}

.foretagssida1 {
  flex: 1;
  margin-right: 80px;
}

.foretagssida2 {
  flex: 1;
}

.jobbportal_container {
  width: 80%;
  margin: 0 auto;
}

.jobbportal_container.login_page {
  width: 50%;
  margin-top: 80px;
}


.annonsinfo {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: space-between; */
  width: 75%;
  margin: 0 auto;
}

.annonssida1 p {
  text-align: center;
}

.annonssidaPriser {
  margin-top: 80px;
  margin-bottom: 50px;
}

.annonssidaPriser h3 {
  margin-bottom: 30px;
}

.annonssidaPriser ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 5px;
}

.annonssidaPriser ul li {
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: #f4f4f4;
  border-radius: 20px;
  font-weight: bold;
  color:white;
}

.annonssidaPriser ul li p:nth-child(1) {
  background-color: #ff9b00;
  border-radius: 15px;
  color: white;
  padding: 5px 5%;
  margin-bottom: 14px;
}

.annonssidaPriser ul li:nth-child(1) {
  background-color: #fd7600;
}

.annonssidaPriser ul li:nth-child(2) {
  background-color: #00a8e4;
}

.annonssidaPriser ul li:nth-child(3) {
  background-color: #57b82a;
}

.annonssidaPriser ul li:nth-child(4)  {
  background-color: #a64fa0;
}

/* kontaktformulär */

.grid-2 {
  padding: 3em 0 2em;
}

/* job_listings */

.job_filters {
  background-color: #fff !important;
}

/* .annonssidaPriser ul{
  margin: auto;
  width: 50%;
  text-align: center;

} */

/* .annonssida1 {
  margin-top:
} */

.annonssida2 {
  width: 75%;
  margin: 0 auto;
}

/* .annonssida2 ul {
  display: grid;
  grid-template-rows: repeat(4,1fr);
  align-items: center;
} */

.job_types {
  background-color: #fff !important;
}

.job_listings h2 {
  display: none;
}

#search_keywords {
  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
  border: 0px !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 15px 25px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.job_filters .showing_jobs {
  width: 80% !important;
  height: 25px;
  line-height: 28px;
  margin: 20px 0 0 10% !important;
  border: 0px !important;
  background-color: #fff !important;
  padding: 0px !important;
}

.job_filters .showing_jobs a {
  display: none;
  float: left !important;
}

.job_filters .showing_jobs a.reset {
  display: inline-block !important;
  padding: 8px !important;
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  line-height: 24px;
  text-align: center;
}

.job_filters .showing_jobs span {
    display: none;
}

#job_listings_holder {
  /* width:100%; */
  /* height:auto; */
  overflow: hidden;
}

.job_listing_inner {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  /* background-color: rgba(0,0,0,.05); */
  border-radius: 2px;
  position: relative;
}

.job_listing_inner_count {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
  line-height: 50px;
}

.job_listing_inner_title {
  /* width:50px; */
  height: 50px;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  left: 50px;
  top: 0px;
  line-height: 50px;
  padding: 0px 30px 0px 30px;
  margin-left: 10px;
}

.page-fw {
  position: relative;
  z-index: 6;
}

#job_buttons_holder {
  width: 80%;
  height: 60px;
  border-radius: 0px;
  position: relative;
  z-index: 5;
  margin: auto;
}

#job_buttons_holder2 {
  width: 80%;
  /* margin:-95px 0px 0px 10%; */
  margin: 0 auto;
  transform: translateY(-98%);
  height: 60px;
  border-radius: 0px;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

#job_buttons_holder2.konto_buttons {
  width: 100%;
}

/* Dashboards DataTjej and Employer */

#job-manager-job-dashboard table td,
#job-manager-job-dashboard table th {
  text-align: center;
  padding: 0.5em 1em;
}

#job-manager-job-dashboard ul li:nth-child(3) {
  display: none !important;
}

#job-manager-job-dashboard table ul.job-dashboard-actions li {
  display: inline-block;
}

#job-manager-job-dashboard a {
  word-wrap: normal;
}

#job-manager-job-dashboard p {
  margin: 0 0 1.75em;
}

#job-manager-alerts td,
#job-manager-alerts th {
  text-align: center;
  padding: 0.5em 1em;
}

.sponsor-table td,
.sponsor-table-2
td {
  text-align: center;
}

.job-manager-alerts a {
  color: #1c82bc !important;
  word-wrap: normal;
}

.job-manager-alerts {
  table-layout: auto;
}

#job-manager-alerts table ul.job-alert-actions {
  margin: 0;
  padding: 0 2em;
  visibility: visible;
  font-size: 0.92em;
}

.job-manager-alerts th,
.job-manager-alerts td {
  max-width: 300px;
}

.job-manager-alerts th {
  padding: 0em 1em;
}

#job-manager-bookmarks table ul.job-manager-bookmark-actions {
  visibility: visible !important;
}

#job-manager-job-dashboard table ul.job-dashboard-actions {
  visibility: visible;
}

.job-manager-jobs{
  border-color: white;
}

.job-manager-jobs thead tr th{
  border-color: white;
  border-bottom: 1px solid #eee;
}

.job-manager-jobs tbody tr td{
  border-color: white;
  border-bottom: 1px solid #eee;
}

.register_button_fix {
  margin-top: 31px;
}

.job_link {
  /* background-color:rgba(255,0,0,.5); */
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
  transition: 0s;
}

.job_link:hover {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
}

.job_button {
  width: 49.5%;
  height: 60px;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 60px;
  margin: 0px;
  padding: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
  /* border: solid lightgray 1px; */
  box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.03);
}

.job_button_active {
  background-color: #fff; /* 449ad7 */
  color: #000;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.job_button_active:hover {
  background-color: #fff; /* 449ad7 */
}

.job_button_active:hover .job_link {
  color: #000;
}

.job_button:hover {
  background-color: #fafafa;
  color: #000;
}



.intro_text {
  height: auto;
  margin: 0 100px 0 0;
  /* background-color:red; */
  overflow: hidden;
  flex: 1;
}


.jobbportal_login {
  flex: 1;
}

.jobbportal_login .um-login-custom-holder {
  width: 100%;
}

.jobbportal_login .um-login-custom-holder .um-field:first-of-type {
  padding: 0;
}

.intro_text h3 {
  font-size: 28px;
  display: inline-block;
  border-bottom: 2px solid #2fa6de;
  margin-bottom: 20px;
  padding-bottom: 7px;
}

.intro_text p {
  font-size: 20px;
}

#job_loggedout_holder {
  height: auto;
  /* background-color:red; */
  /* display: grid; */
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-auto-columns: 1fr; */
  /* grid-column-gap: 40px;
  grid-row-gap: 60px; */
  padding: 0;
  box-sizing: border-box;
  /* align-items: center; */
}

.jobbportal_icons_container .jobbportal_icons {
  display: flex;
}

#job_loggedout_holder.jobbportal_intro {
  display: flex;
  margin-top: 40px;
}

@media only screen and (max-width: 800px) {
  #job_loggedout_holder.jobbportal_intro {
    flex-direction: column;
  }

  section.foretagssida {
    flex-direction: column;
  } 

  .foretagssida1 {
    margin: 0;
  }

  .foretagssida2 {
    width: 100%;
    margin-top: 50px;
  }

  .jobbportal_intro .intro_text {
    margin: 0 0 50px 0;
  }
}

.job_loggedout_block {
  /* background-color: rgba(0,0,0,.05); */
  grid-column: span 2;
  /* background-color: #fff; */
  /* filter: grayscale(100%); */
  /* opacity: .5; */
  transition: 0.5s;
  /* border-radius:3px; */
  /* box-shadow:0px 0px 50px rgba(0,0,0,.025); */
  flex: 1;
}

.job_loggedout_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  margin: 0 auto 0 auto;
  text-align: center;
  line-height: 64px;
  font-size: 28px;
  color:white;
}

.jobbportal_icons_container {
  background-color: #f4f4f4;
  margin: 80px 0 100px 0;
  padding: 100px 0;
}

.job_loggedout_block:nth-child(1) .job_loggedout_icon {
  background-color: #30a6df !important;
}

.job_loggedout_block:nth-child(2) .job_loggedout_icon {
  background: #f49f1e !important;
}

.job_loggedout_block:nth-child(3) .job_loggedout_icon {
  background: #71b544 !important;
}

.job_bold {
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

.job_loggedout_description {
  width: 70%;
  margin: 20px 0 0 15%;
  /* background-color: orange; */
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 300;
}

.account_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: none !important;
}

.account_menu_holder {
  width: auto;
  height: auto;
  margin-top: -6px;
}

.account_menu_info {
  width: 50px;
  height: 50px;
  background-color: green;
}

.logout_icon {
  margin: 1px 0 0 -5px;
}

.actions-menu a:after {
  display: none;
}

/* <span class="account_menu_holder">
<img src="[account_image]" class="account_image"/>
<span class="account_menu_info">[loggedin_name]</span>
</span> */

p {
  font-weight: 300 !important;
}

/* Hide certain ultimate member content */

.um-locked-content {
  display: none;
}

.um-account-meta-img {
  pointer-events: none;
}

.um-account-name {
  pointer-events: none;
}

.um-account-profile-link {
  display: none;
}

/* Change style for ultimate member form divider */

.um-field-divider {
  margin: 0px 0px 50px 0px !important;
  height: 0px !important;
}

.um-field-divider-text {
  position: relative !important;
  bottom: 0px !important;
  left: 0px !important;
  padding: 0px !important;
}

.um-field-divider-text span {
  background-color: transparent !important;
  text-align: left;
  padding: 0px !important;
}

.register_form_holder {
  width:80%;
  margin:  0 auto 50px;
}

.register_form_holder h2 {
  margin-top: 50px;
}

/* Job Dashboard */

.job-manager .job-type,
.job-types .job-type,
.job_listing .job-type.heltid {
  color: #b94793;
}

.single_job_listing .meta .job-type.heltid {
  background-color: #b94793;
  color: #fff;
}

.job-manager .job-type,
.job-types .job-type,
.job_listing .job-type.deltid {
  color: #17a349;
}

.single_job_listing .meta .job-type.deltid {
  background-color: #17a349;
  color: #fff;
}

.job-manager .job-type,
.job-types .job-type,
.job_listing .job-type.praktik {
  color: #d91f26;
}

.single_job_listing .meta .job-type.praktik {
  background-color: #d91f26;
  color: #fff;
}

.single_job_listing .meta .job-type.tillfallig {
  background-color: #2fa6de;
  color: #fff;
}

.job-manager .job-type,
.job-types .job-type,
.job_listing .job-type.sommarjobb {
  color: #45b7b4;
}

.single_job_listing .meta .job-type.sommarjobb {
  background-color: #45b7b4;
  color: #fff;
}

.job-manager .job-type,
.job-types .job-type,
.job_listing .job-type.startups {
  color: #2fa6de;
}

.single_job_listing .meta .job-type.startups {
  background-color: #2fa6de;
  color: #fff;
}

.job-manager .job-type,
.job-types .job-type,
.job_listing .job-type.traineeprogram {
  color: #f39f1e;
}

.single_job_listing .meta .job-type.traineeprogram {
  background-color: #f39f1e;
  color: #fff;
}

.job-manager .job-type,
.job-types .job-type,
.job_listing .job-type.examensarbete {
  color: #f6e727;
}

.single_job_listing .meta .job-type.examensarbete {
  background-color: #f6e727;
  color: #fff;
}

.job-manager .job-type,
.job-types .job-type,
.job_listing .job-type.extrajobb {
  color: #71b543;
}

.single_job_listing .meta .job-type.extrajobb {
  background-color: #71b543;
  color: #fff;
}

form.job_filters div.search_jobs,
form.job_filters ul.job_types,
div.job_listings ul.job_listings {
  width: 80%;
  margin: 0 auto;
}

ul.job_types {
  padding: 0px !important;
}

/* form.job_filters ul.job_types {
  background-color: #eee;
  display: flex;
  justify-content: center;
} */

div.job_listings ul.job_listings {
  margin-top: 2rem;
  margin-bottom: 80px
}

.job_listings .job_filters {
  background-color: #f1f1f2;
}

/* .job_listings .job_filters .job_types {
  background-color: #f1f1f2;
} */

/* .job_types li {
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 0px !important; */
  /* margin-bottom: 1px!important;
  border:5px solid #fff!important;
  box-sizing: border-box; */
  /* cursor: pointer;
} */

main#main
  article.single-post
  div.post-content
  div.single_job_listing
  ul.job-listing-meta {
  color: black;
}

.add-bookmark-wrapper {
  background-color: rgba(0, 0, 0, 0.025);
  padding: 0.5em 1em;
  /*border: 2px solid #F1F1F2;*/
  box-shadow: none;
  outline: none;
  border-radius: 4px;
}

div.add-bookmark-wrapper a.bookmark-notice {
  padding: 0;
}

.wp-job-manager-bookmarks-form a.bookmark-notice::before {
  vertical-align: baseline !important;
}

.add-bookmark-wrapper a::before {
  color: #2fa6de;
}

form.wp-job-manager-bookmarks-form {
  border: none;
  margin: 10px 0;
}

form.wp-job-manager-bookmarks-form div.bookmark-details {
  background-color: rgba(0, 0, 0, 0.05);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -2px;
  padding: 2em 2em;
}

.bookmark-details p {
  margin: 0;
}

.bookmark-details p textarea {
  background-color: #fff;
}

.single_job_listing div.company {
  border: 1px solid #2fa6de;
}

form#submit-job-form {
  width: 75%;
  margin: 75px auto 100px;
}

div.job_buttons_holder {
  text-align: center;
}

div.job_buttons_holder2 {
  text-align: center;
}

#page-264 .register_message {
  text-align: center;
  margin-top: 50px;
}

form#submit-job-form h2 {
  margin-top: 50px;
}

div.chosen-container ul.chosen-choices {
  border-radius: 4px;
  background-color: #f4f4f4;
  background-image: none;
  border: none;
  border-bottom: 2px solid rgba(160, 218, 255, 1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #666;
  outline: 0;
  padding: 0.556em;
  font-size: 16px;
}

.chosen-container-multi .chosen-choices {
  border: none;
  background-color: #f4f4f4;
}

div.chosen-container-multi
  ul.chosen-choices
  li.search-field
  input[type="text"] {
  color: rgba(102, 102, 102, 0.5);
  font-family: "Roboto", sans-serif;
}

.single_job_listing .company img {
  width: 3em;
  height: 3em;
  position: absolute;
  left: 1em;
  bottom: 0.3em;
  float: left;
  vertical-align: middle;
  box-shadow: none;
}

form#job_preview {
  max-width: 58em;
  padding: 50px;
  margin: 0 auto 80px;
  margin-top: 75px;
}

.job-manager-single-alert-link {
  display: none !important;
}

div.job_listing_preview_title {
  padding: 20px;
  border-radius: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

div.job_listing_preview {
  margin-top: -1px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 30px 30px;
}

div.job_listing_preview .single_job_listing {
  margin-top: 0;
}

.job_listing_preview_title::after {
  content: "";
  clear: both;
  display: table;
}

.job-manager-single-alert-link {
  display: none !important;
}
.filter_wide.filter_by_tag {
  display: none !important;
}
.search_location {
  display: none !important;
}

.job_listings .job_listing .meta {
  float: left !important;
  display: inline !important;
}

ul.job_listings li.job_listing a {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

ul.job_listings li.job_listing a div.location {
  width: 100% !important;
}

ul.job_listings li.job_listing a div.position {
  width: 100% !important;
}
ul.job_listings li.job_listing a .meta {
  width: 100% !important;
  text-align: left !important;
}

/* .job_listings .application-deadline{
  display: none !important;
} */

.job_deadline_list {
  list-style: none;
}

.li_test {
  float: left;
  display: block;
}

.ul_test {
  list-style-type: none;
  margin: 50px auto 0 auto;
  width: 80%;
  overflow: hidden;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hideJobPage {
  display: none;
}
.style_link {
  color: blue !important;
  text-decoration: underline;
}

.selected_logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

tbody#the-list tr[class^="post-"] {
  content: none;
}

.single-heading {
  display: none;
}

.single_job_listing {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
}

.job_header {
  margin-top: 30px;
  order: 1;
}

.job_description {
  order: 2;
}

/* .job_description_text, .company_description_text {
  white-space: pre-line;
} */

.description_text {
  font-family: inherit;
  border: none;
  padding: 0;
  margin: 0;
  line-height: inherit;
}

.company_description {
  order: 3;
  margin-bottom: 50px;
}

.job-manager-form.wp-job-manager-bookmarks-form {
  order: 4;
}

.job_application.application,
.single_job_listing a.button {
  margin: 0;
  width: 48%;
}

.job_application.application .application_button,
.single_job_listing a.button {
  padding: 1em 1.5em;
  line-height: 1em;
  font-size: 20px;
}

.job_application.application {
  margin-right: 5px;
  float: left;
}

.single_job_listing a.button {
  margin-left: 5px;
  float: right;
  vertical-align: top;
  background-color: #e7ab4a;
}

.single_job_listing a.button:hover {
  background-color: #daa147;
}

.job_application.application input {
  width: 100%;
  height: 100%;
}

.job_listing_buttons {
  /* display: flex; */
  order: 5;
  margin-top: 20px;
}

@media only screen and (max-width: 900px) {
  .job_application.application {
    float: none;
    margin: 0 0 20px 0;
    width: 400px;
  }

  .job_application.application input.button {
    margin: 0;
  }

  .single_job_listing a.button {
    float: none;
    margin: 0;
    width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  .job_application.application input.button,
  .single_job_listing a.button {
    font-size: 14px;
  }
}

.picker__button--clear {
  display: none !important;
}

.picker__button--today {
  display: none !important;
}

.picker__button--close {
  width: 100% !important;
  box-sizing: border-box !important;
}

.companyLogos {
  width: 100%;
  display: grid;
  padding-left: 20%;
  padding-right: 20%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  justify-items: center;
}

/* log in stuff */

.um-login-custom-holder {
  width: 80%;
  background-color: transparent;
}

#job_loggedout_holder .um-login-custom-holder {
  grid-column: span 3;
}

.um-login {
  background-color: transparent;
}

.um-col-132 {
  background-color: transparent;
  width: 100% !important;
  margin: 0px !important;
}

.um-custom-css {
  position: relative;
}

.um .um-form .um-custom-css input[type="text"],
.um .um-form .um-custom-css input[type="password"] {
  border: 0px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  padding: 4px 0 0 20px !important;
  box-sizing: border-box !important;
  transition: 0.5s !important;
}

.um .um-form .um-custom-css input[type="text"]:focus,
.um .um-form .um-custom-css input[type="password"]:focus {
  background-color: rgba(0, 0, 0, 0.025);
  border: 0px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

ul.job_listings li.job_listing a {
  padding: 0px !important;
}

ul.job_listings li.job_listing a div {
  padding: 14px 0px !important;
}

.advertisers-separator {
  width: 60%;
  height: 2px;
  margin: 100px 0 100px 20%;
  background-color: rgba(0, 0, 0, 0.05);
}

.below-advertisers {
  margin: 50px 0 100px 20%;
}

/* Publicera Annons - Kontaktformulär*/

#contact-form {
  width: 100%;
  height: auto;
  background-color: rgba(244, 244, 244, 1);
  box-sizing: border-box;
  padding: 60px 10% 10px 10%;
  margin: 80px 0;
}

#contact-form-holder {
  overflow: hidden;
  width: 100%;
}

#contact-form-left {
  float: left;
  width: 47.5%;
  /* background-color: blue; */
}

#contact-form-right {
  float: left;
  margin-left: 5%;
  width: 47.5%;
  /* background-color: red; */
}

.wpcf7-form-control {
  max-width: 100% !important;
}

.contact-form-name,
.contact-form-email,
.contact-form-subject,
.contact-form-message {
  width: 100%;
  height: 40px;
  padding: 10px !important;
  border: 0px !important;
  margin: 0px 0px 20px 0px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.contact-form-message {
  height: 160px;
}


form.job_filters div.search_jobs {
  margin-bottom: 40px;
  padding: 0;
}

#search_keywords {
  background-color: #fff;
}

.job_types {
  width: 100%;
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  padding-left: 14px !important;
}

/* .job_types li {
  padding: 10px 0px !important;
} */

.job_types:before {
  content: none !important;
}

div .fieldset-job_publish_date {
  display: none;
}

.job_filters .search_jobs div.search_keywords {
  width: 100%;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #2fa6de; 
}

.submit_buttons_job_listing {
  display: flex;
}

.job-manager-button-submit-listing, .job-manager-button-edit-listing {
  flex: 1;
  display: block;
}

input[type="submit"].job-manager-button-edit-listing {
  background-color: #eee;
  color: rgba(0, 0, 0, 0.9);
  margin-right: 20px;
  order: 1;
}

input[type="submit"].job-manager-button-edit-listing:hover {
  background-color: rgb(198, 198, 198);
}

input[type="submit"].job-manager-button-submit-listing {
  margin-left: 20px;
  order: 2;
}

/* Media queries */

@media only screen and (min-width: 1920px) {
}

@media only screen and (max-width: 1920px) {
  /* #job_buttons_holder2 {
    margin:-91px 0px 0px 10%;
  } */

  .register_button_fix {
    margin-top: 28px;
  }
}

@media only screen and (max-width: 1440px) {
  /* #job_buttons_holder2 {
    margin:-88px 0px 0px 10%;
  } */
  .register_button_fix {
    margin-top: 28px;
  }
}

@media only screen and (max-width: 1024px) {
  /* #job_buttons_holder2 {
    margin:-86px 0px 0px 10%;
  } */

  .register_button_fix {
    margin-top: 26px;
  }
  .job-manager-jobs{
    font-size:13px;
  }
}

@media (min-width: 876px) and (max-width: 1024px) {
}

@media only screen and (max-width: 780px) {
  /* #job_buttons_holder2 {
      margin:-86px 0px 0px 10%;
    } */

  .foretagssida1,
  .foretagssida2 {
    width: 87%;
    margin: 0 30px 0 20px;
  }
}

@media only screen and (max-width: 767px) {
  .job-manager-form fieldset label {
    width: 100% !important;
  }

  form.job_filters div.search_jobs {
    width: 90% !important;
    padding: 0 !important;
    margin-bottom: 40px;
  }

  .job-manager-form fieldset div.field {
    width: 100% !important;
  }

  .annonsinfo {
    width: 85%;
  }

  .fieldset-logged_in {
    display: none;
  }

  #submit-job-form {
    width: 85%;
  }

  #submit-job-form fieldset {
    display: grid;
    grid-template-rows: repeat(2, auto);
  }

  .annonssidaPriser ul li p:nth-child(1) {
    font-weight: bold !important;
    margin: 0px 0px 14px 0px !important;
  }

  .annonssidaPriser ul {
    grid-template-columns: repeat(2, 1fr);
    font-size: 11px;
  }

  .annonssidaPriser ul li {
    border-radius: 8px !important;
    font-weight: bold;
    color: white;
  }

  .annonssidaPriser ul li p {
    border-radius: 8px !important;
    margin-bottom: 8px;
  }

  ul.job_listings li.job_listing a {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }

  ul.job_listings li.job_listing a div.location {
    text-align: left;
  }

  ul.job_listings li.job_listing a div {
    padding: 14px 0px !important;
  }

  .ul_test {
    width: 90% !important;
    padding: 0px !important;
  }

  .ul_test li {
    padding: 0px !important;
  }

  div.job_listings ul.job_listings {
    width: 90% !important;
    padding: 0px !important;
  }

  .job_types {
    width: 90% !important;
    padding: 0px !important;
  }

  #job_loggedout_holder {
    grid-template-columns: 1fr 1fr 0px !important;
    padding: 0px 0px 0px 20px !important;
  }

  .jobbportal_icons div:nth-child(3) {
    display: none !important;
  }

  .login_page .um-half {
    width: 100%;
    margin-bottom: 20px;
  }

  .submit_buttons_job_listing {
    flex-direction: column;
  }
  
  input[type="submit"].job-manager-button-submit-listing, input[type="submit"].job-manager-button-edit-listing {
    margin: 0 0 20px 0;
  }
  
}

@media only screen and (max-width: 640px) {
  #job_buttons_holder {
    width: 90%;
  }

  .job-manager-jobs{
    font-size:12px;
  }

  .job_types {

    grid-template-columns: repeat(3, 1fr);

  }

  

  /* #job_buttons_holder2 {
    width:90%;
    margin:-84px 0px 0px 5%;
  } */

  .register_button_fix {
    margin-top: 24px;
  }
}

/* @media only screen and (max-width: 474px) {
  #job_buttons_holder {
    width:90%;
    margin:-84px 0px 0px 5%;
  }
} */
@media only screen and (max-width: 490px) {

  .job-manager-jobs{
    display: inline-block;
    overflow: auto;
    font-size: 11px;
  }

  .jobbportal_login .um-half, .foretagssida2 .um-half, .login_page .um-half {
    width: 100%;
    margin-bottom: 20px;
  }
}



@media only screen and (max-width: 448px) {
  #job_buttons_holder {
    width: 90%;
  }

  .job_types {

    grid-template-columns: repeat(2, 1fr);

  }

  /* #job_buttons_holder2 {
    width:90%;
    margin:-78px 0px 0px 5%;
  } */

  .register_button_fix {
    margin-top: 19px;
  }

  .job-manager-jobs{
    font-size: 9px;
  }
}

.job_header {
  /* background-color:rgba(0,0,0,.05);
  padding: 1em; */
  margin-bottom: 3.5rem;
}

.job_description,
.company_description {
  /* padding: 0 1em; */
}

.job_description h3,
.company_description h3 {
  font-size: 1.3em;
}
.page-fw .published {
  text-align: center;
}

.page-fw .job_listings .published {
  text-align: left;
}

.job_header h1 {
  display: inline-block;
  /* margin-left: 1rem; */
}

.job_header h3 {
  font-size: 1em;
  margin-bottom: 2em;
  /* margin-left: 1rem; */
}

ul.job-listing-meta.meta {
  background-color: rgba(0, 0, 0, 0.025);
  padding: 0.5em 1em;
  margin: 0;
}

.jobbportal_divider {
  width: 35%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
  height: 2px;
  grid-column: span 6;
}

@media only screen and (max-width: 800px) {
  ul.job-listing-meta.meta .date-posted {
    clear: left;
  }

  ul.job-listing-meta.meta .date-posted,
  ul.job-listing-meta.meta .application-deadline {
    display: block;
    padding-left: 0;
    margin: 10px 25px 0 0;
  }
}

/* Fix for the 10th DataTjej image on front page */

.no_job_listings_found {
  text-align: center;
}

.foretagssida1 li {
  list-style-type: none;
  margin-bottom: 10px;
}

.price {
  padding-bottom: 4px;
}

.foretagssida ul li:nth-child(1) .price {
  border-bottom: 2px solid #fd7600;
}
.foretagssida ul li:nth-child(2) .price {
  border-bottom: 2px solid #00a8e4;
}
.foretagssida ul li:nth-child(3) .price {
  border-bottom: 2px solid #57b82a;
}
.foretagssida1 ul li:nth-child(4) .price {
  border-bottom: 2px solid #a64fa0;
}

.main-header-right {
  position: relative;
  margin: 0;
}

.main-header-inner-wrap {
  justify-content: space-between;
}



@media only Screen and (max-width: 1200px) {
  .main-header .main-header-inner-wrap .logo-wrap {
    flex: 1;
  }

  .main-header .main-header-inner-wrap .main-menu-wrap {
    flex: 7;
  }

  .main-header .main-header-inner-wrap .main-header-right {
    flex: 1;
  }

  .jobbportal_login .um-half, .foretagssida2 .um-half {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only Screen and (max-width: 1024px) {
  .main-header-right {
    position: absolute;
    padding: 0 20px;
  }

  #bx-item-team-10 {
    left: 0% !important;
  }

  .jobbportal_container.login_page {
    width: 80%;
  }
}

.um-col-alt-b .um-link-alt {
  text-align: left;
}


.job_filters .job_types li {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
}

.job_types li input {
  border: none;
  height: 6vw;
  width: 6vw;
  max-width: 40px;
  max-height: 40px;
  display: block;
  margin: 0 30px 0 0;
  position: relative;
}

.job_types li label {
  cursor: pointer;
  font-size: calc(7px + .5vw);
  font-weight: 400;
}


.job_types li input[type=checkbox]::before {
  font-size: calc(7px + 1.5vw);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.job_types li input[type=checkbox]:focus, .job_types li input[type=checkbox] {
  background-color: rgba(0, 0, 0, 0.05);
}

.grid-container {
  max-width: 100%;
}

.um-account-side {
  padding-left: 0;
}

.um-account-main {
  padding-right: 0;
}

.grid-1 {
  padding: 0;
}

.grid-1.padding-small {
  padding: 0;
}

.fa-star:before {
  content: "\f007"!important;
}

.actions-menu li:nth-child(2) a{
  margin-left: 0px;
}

.om_oss_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax( min-content ,200px));
  grid-gap: 20px;
  justify-content: space-between;
}

@media only Screen and (max-width: 490px) {
  .om_oss_grid {
    justify-content: center;

  }
}

#bx-item-slider-3 .ac-btn-1st:hover {
    background-color: #008be8 !important;
}